# A simple configuration to run on StarFive VisionFive 2 platform

[log]
level = "info"
color = true

[debug]
# max_firmware_exits = 2000

[vcpu]
max_pmp = 0

[platform]
name = "visionfive2"
nb_harts = 5
boot_hart_id = 1

[target.miralis]
start_address = 0x43000000
stack_size = 0x8000

[target.firmware]
start_address = 0x40000000
